/* ---- Base Styles ----*/
* {
	box-sizing: border-box;
}
h1 {
	color: white;
	font-family: Oswald, sans-serif;
}
/*adjust fontsize of header nav bar */

/* link styles */
a:hover {
	color: Red;
	transition: all .5s;
}
/* remove default link decorations */
a {
	text-decoration: none;
	color: white;
}

/* Main Content Styles */
.Info {
  display: flex;
	flex-wrap: wrap;
}
.Info p {
text-align:center;
}
.Donate-Books, .Donate-Funds {
margin-top: 2%;
	}
	.Welcome {
	  text-align: center;
	  width: 100%;
	}
	.title {
		color: white;
		text-align: center;
		display: inline-block;
	}
	/* Give navbar image a round border */
	.nav-img {
	width: 15%;
	border-radius: 50%;
	}
	.welcome-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
	width: 10%;
	border-radius: 50%;
	}
	/* Navigational footer */
	.nav-container, footer {
	display:flex;
	flex-wrap: wrap;
	height: 5%;
	justify-content: space-around;
	align-items: center;
	}
	/* Header Navbar styles */
	.topnav{
		display:flex;
		height: 5%;
		justify-content: space-around;
		align-items: center;
	}
/* ---- make the volunteer image grayscale to match the others and style of webpage ---- */
.volunteer-image{
	filter: grayscale(100%);
}
/* ---- Layout Containers ---- */
.banner-overlay {
	width:100%;
}
header, footer {
	background: black;
}


/* ---- Front Page Imgs ---- */
/* Slideshow container */
.prisoner-art {
  max-width: 1000px;
  position: relative;
  margin: auto;
	padding-top: 2%;
}

/* Hide the images by default */
.scannedImages {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with slight opaqueness */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Artist Credit */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  /* ---- Section Styles ---- */
.volunteer, .Donate-Funds, .Donate-Books {
	background-color: black;
	color: white;
	}
h2 {
text-align: center;
}
.volunteer-image, .funds-image, .books-image {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}


  /* ---- Media Queries ----*/
@media (min-width:769px) {
.Info {
	display:inline-flex;
	flex-wrap: nowrap;
}

.volunteer, .Donate-Funds, .Donate-Books {
	margin: 3%;
	padding:1%;
	align-items: center;
}
}
