/* ---- Base Styles ----*/
* {
	box-sizing: border-box;
}

a:hover {
	color: Red;
	transition: all .5s;
}

a {
	text-decoration: none;
	color: white;

  }
.col {
	margin: 1em 1em auto 1em;
	background-color: black;
}

.col p {
	color: white;
}

.Welcome {
  text-align: center;
  width: 100%;
}
.title {
	color: white;
	text-align: center;
	display: inline-block;
}

.nav-img {
float: left;
width: 20%;
height: 20%;
border-radius: 50%;
}

.nav {
		float: right;
	}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


.Info {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.volunteer{
  display: block;
}

.funds-image{
	filter: grayscale(100%);
}
/* ---- Layout Containers ---- */
.banner-overlay {
	width:100%;
}
header {
	background: black;

}

/* ---- Front Page Imgs ---- */

  /* ---- Section Styles ---- */





  /* ---- Media Queries ----*/

  @media (min-width: 769px) {
		.nav-img {
		float: left;
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	.Donate-Books img {
		height:280px;
		width:280px;
		}
		.nav {
				float:left;
			}
		.nav li {
				float:left;
			}
		.clearfix::after {
		  content: "";
		  display: table;
		  clear: both;
		}

		 .main-nav {
			 font-size: 2em;
			 color: white;
			 text-transform: uppercase;
		  }
		  .nav {
		  	display: flex;
		    justify-content: space-around;
		    font-weight: 700;
		    list-style-type: none;
		    margin: 0 auto;
		    padding: 0;
		  }
		  .nav .name {
		    display: none;
		  }
		  .nav li {
		    padding: 5px 10px 10px 10px;
		  }

  	.Welcome {
  		width: 90%;
  		max-width: 1000px;
  		margin: 0 auto;
  	}
    .Info {
  		width: 90%;
  		max-width: 1150px;
  		margin: 0 auto;
  	}
    .col {
  		display: inline-block;
  		width: 30%;
  		margin-right: -4px;
  		vertical-align: top;
  		padding-left: 1em;
  		padding-right: 1em;
			padding-top: 1em;
  	}
    .banner-overlay
      {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  }
