/* ---- Base Styles ----*/
* {
	box-sizing: border-box;
}

a:hover {
	color: Red;
	transition: all .5s;
}

a {
	text-decoration: none;
	color: white;
}

.Welcome {
  text-align: center;
  width: 100%;
}
.title {
	color: white;
	text-align: center;
	display: inline-block;
}

.nav-img {
height: 5%;
width: 5%;
border-radius: 50%;
}
.welcome-img {
display: block;
margin-left: auto;
margin-right: auto;
height: 10%;
width: 10%;
border-radius: 50%;
}
.nav-container {
display:flex;
height:5%;
justify-content: space-between;
align-items: center;
}
.nav{


}

.Info {
  display: flex;
	flex-wrap: wrap;
}
.Info p {
text-align:center;
}

.volunteer-image{
	filter: grayscale(100%);
}
/* ---- Layout Containers ---- */
.banner-overlay {
	width:100%;
}
header {
	background: black;
}


/* ---- Front Page Imgs ---- */

  /* ---- Section Styles ---- */
.volunteer, .Donate-Funds, .Donate-Books {
	background-color: black;
	color: white;
	}
h2 {
text-align: center;
}
.volunteer-image, .funds-image, .books-image {
	display: block;
  margin-left: auto;
  margin-right: auto;
}


  /* ---- Media Queries ----*/
@media (min-width:769px) {
.Info {
	display:inline-flex;
	flex-wrap: nowrap;
}
.volunteer, .Donate-Funds, .Donate-Books {
	margin: 3%;
	padding:1%;
	align-items: center;
}
}
